[Translation]
File=QtopiaServices
Context=UsbGadget/Serial
[Service]
Actions="startUsbService(QString)"
Name[]="USB Serial Service"
Gadget=QUsbSerialGadget
