[Translation]
File=QtopiaPlugins
Context=Input Methods
[Desktop Entry]
Name[]=Pickboard
Comment[]=Dictionary based input method.
X-QPE-Library=libqpickboard.so
