[Translation]
File=trust-nct
Context=Trust

[Desktop Entry]
Comment[]=A Malware App to test SXV
Exec=trust
Icon=trust/trust
Type=Application
Name[]=Trust
