[Translation]
File=QtopiaSettings
Context=Application Services
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=appservices
Icon=AppServices
Name[]=Ap­pli­ca­tion Ser­vices
CanFastload=0
