[Translation]
File=QtopiaSettings
Context=Security
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=security
Icon=Security
Name[]=Se­cu­ri­ty
CanFastload=0
