[Translation]
File=QtopiaGames
Context=Word Game
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=A word arranging game
Exec=wordgame
Icon=wordgame/WordGame
Type=Application
Name[]=Word Game
