[Translation]
File=scanner-nct
Context=scanner

[Desktop Entry]
Comment[]=An example Bluetooth Device Discovery app
Exec=scanner
Icon=scanner/scanner
Type=Application
Name[]=Bluetooth Device Discovery
