[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Appearance
Exec=qcop service send Launcher execute\(QString\) appearance
Icon=appearance/Appearance
Categories=Settings
