[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Beaming
Exec=qcop service send Launcher execute\(QString\) beaming
Icon=beaming/Infrared
Categories=Settings
