[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Recalibrate
Exec=qcop service send Launcher execute\(QString\) calibrate
Icon=calibrate/Calibrate
Categories=Settings
X-Qtopia-Requires=Calibrate
