[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Logging
Exec=qcop service send Launcher execute\(QString\) logging
Icon=logging/logging
Categories=Settings
