[Desktop Entry]
Type=Application
Name=Internet
Exec=qcop service send Launcher execute\(QString\) netsetup
Icon=netsetup/PPPConnect
Categories=Settings
