[Desktop Entry]
Type=Application
Name=Software Packages
Exec=qcop-x11-launcher packagemanager %f
Icon=packagemanager/PackageManager
MimeType=application/qpkg
Categories=Settings
