[Desktop Entry]
Type=Application
Name=Handwriting
Exec=qcop service send Launcher execute\(QString\) hwsettings
Icon=hwsettings/recognition_settings
X-Application-Screenshot=hwsettings/recognition_settings-screenshot
Categories=Settings;
X-Qtopia-Requires=Touchscreen
