[Desktop Entry]
Type=Application
Name=Language
Exec=qcop service send Launcher execute\(QString\) language
Icon=language/Language
Categories=Settings;
