[Desktop Entry]
Type=Application
Name=Call Forwarding
Exec=qcop service send Launcher execute\(QString\) callforwarding
Icon=callforwarding/CallForwarding
X-Application-Screenshot=callforwarding/CallForwarding-screenshot
Categories=System;Settings;
