[Desktop Entry]
Type=Application
Name=Logging
Exec=qcop service send Launcher execute\(QString\) logging
Icon=logging/logging
X-Application-Screenshot=logging/logging-screenshot
Categories=System;Settings;
