[Desktop Entry]
Type=Application
Name=Bluetooth
Exec=qcop service send Launcher execute\(QString\) btsettings
Icon=btsettings/BTSettings
X-Application-Screenshot=btsettings/BTSettings-screenshot
Categories=System;Settings;
