[Desktop Entry]
Type=Application
Name=Shutdown
Exec=qcop service send Launcher execute\(QString\) shutdown
Icon=shutdown/Shutdown
X-Application-Screenshot=shutdown/Shutdown-screenshot
Categories=Settings;
