[Desktop Entry]
Type=Application
Name=Call Options
Exec=qcop service send Launcher execute\(QString\) phonesettings
Icon=phonesettings/PhoneSettings
X-Application-Screenshot=phonesettings/PhoneSettings-screenshot
Categories=Settings;
