[Desktop Entry]
Type=Application
Name=Call Forwarding
Exec=qcop service send Launcher execute\(QString\) callforwarding
Icon=callforwarding/CallForwarding
Categories=Settings;
