[Desktop Entry]
Type=Application
Name=Homescreen
Exec=qcop service send Launcher execute\(QString\) homescreen
Icon=homescreen/homescreen
X-Application-Screenshot=homescreen/homescreen-screenshot
Categories=Settings;
