[Desktop Entry]
Type=Application
Name=Security
Exec=qcop service send Launcher execute\(QString\) security
Icon=security/Security
X-Application-Screenshot=security/Security-screenshot
Categories=System;Settings;
