[Desktop Entry]
Type=Application
Name=Datetime
Exec=systemtime
Exec=qcop service send Launcher execute\(QString\) systemtime
Icon=systemtime/DateTime
Categories=Settings;
