[Desktop Entry]
Type=Application
Name=VoIP
Comment=A VoIP Settings Application
Exec=qcop service send Launcher execute\(QString\) sipsettingss
Icon=sipsettings/SIP
X-Application-Screenshot=sipsettings/SIP-screenshot
Categories=System;Settings;
