[Desktop Entry]
Type=Application
Name=Profiles
Comment=Phone profile application
Exec=qcop service send Launcher execute\(QString\) profileedit
Icon=profileedit/Note
X-Application-Screenshot=profileedit/Note-screenshot
Categories=System;Settings;
