[Desktop Entry]
Type=Application
Name=Task Manager
Exec=qcop service send Launcher execute\(QString\) taskmanager
Icon=qpe/AppsIcon
X-Application-Screenshot=qpe/AppsIcon-screenshot
Categories=System;Settings;
