[Desktop Entry]
Type=Application
Name=Recalibrate
Exec=qcop service send Launcher execute\(QString\) calibrate
Icon=calibrate/Calibrate
X-Application-Screenshot=calibrate/Calibrate-screenshot
Categories=System;Settings;
X-Qtopia-Requires=Calibrate
