[Desktop Entry]
Type=Application
Name=Beaming
Exec=qcop service send Launcher execute\(QString\) beaming
Icon=beaming/Infrared
X-Application-Screenshot=beaming/Infrared-screenshot
Categories=System;Settings;
