[Desktop Entry]
Type=Application
Name=Startup Flags
Comment=A Development tool for modifying startup flags
Exec=qcop service send Launcher execute\(QString\) startupflags
Icon=icons/flag
X-Application-Screenshot=icons/flag-screenshot
Categories=Settings;
