[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Server Widgets
Exec=qcop service send Launcher execute\(QString\) serverwidgets
Icon=serverwidgets/ServerWidgets
Categories=Settings
