[Desktop Entry]
Type=Application
Name=Speed Dial
Exec=qcop service send Launcher execute\(QString\) speeddial
Icon=speeddial/speeddial
Categories=Settings
