[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Words
Exec=qcop service send Launcher execute\(QString\) words
Icon=words/Words
Categories=Settings
