[Desktop Entry]
Type=Application
Name=World Time
Comment=A World Clock and Time Zone Editor
Exec=qcop service send Launcher execute\(QString\) worldtime
Icon=worldtime/CityTime
Categories=Settings
