[Service]
Actions = raiseToday();newEvent();newEvent(QDataTime,QDataTime,QString,QString);addEvent(PimEvent);removeEvent(PimEvent);updateEvent(PimEvent);showEvent(Quuid);showEvent(QUuid,QDate)
Icon = DateBook
Name = Calendar
Name[de] = Termin kalender
Name[hu] = Naptár
Name[no] = Avtalebok
[newEvent()]
Icon = DateBook
Name = New event
[raiseToday()]
Icon = today
Name = Today's calendar
