[Service]
Actions = addContact(PimContact);addAndEditContact(PimContact);removeContact(PimContact);updateContact(PimContact);showContact(PimContact);beamBusinessCard()
Icon = AddressBook
Name = Addressbook
Name[ja] = ???
[beamBusinessCard()]
Icon = beam
Name = Beam business card
Name[ja] = ???
