[Service]
Actions = addContact(PimContact);addAndEditContact(PimContact);removeContact(PimContact);updateContact(PimContact);showContact(QUuid);beamBusinessCard()
Icon = AddressBook
Name = Contacts
Name[ja] = アドレス帳
[beamBusinessCard()]
Icon = beam
Name = Beam business card
Name[ja] = ???
Name[ja] = ビジネスカードのビーム
