[Translation]
File=QtopiaServices
Context=PackageManager
[Service]
Actions = "installPackage(QDSActionRequest);installPackageConfirm(QString)"
Icon = email
Name[]="Package Manager"
