[Service]
Actions = openURL(QString,QString)
Icon = MediaPlayer
Name = Play Media
Name[ja] = メディアの再生
[openURL(QString,QString)]
Icon = MediaPlayer
Name = Open Media File
Name[ja] = メディアファイルを開く
