[Translation]
File=QtopiaServices
Context=Todo List
[Service]
Actions = "activateLink(QDSActionRequest);newTask();addTask(QTask);removeTask(QTask);requestLinks(QDSActionRequest);updateTask(QTask)"
Icon = todolist/TodoList
Name[]=Todo List
[newTask()]
Icon = todolist/TodoList
Name[]="New Task in Todo List"
[addTask(QTask)]
Icon = todolist/TodoList
Name[]="Add Task to Todo List"
[removeTask(QTask)]
Icon = todolist/TodoList
Name[]="Remove Task from Todo List"
[updateTask(QTask)]
Icon = todolist/TodoList
Name[]="Update Task in Todo List"
