[Service]
Actions = newTask();addTask(PimTask);removeTask(PimTask);updateTask(PimTask);showTask(QUuid)
Icon = TodoList
Name = Todo List
Name[no]=Oppgaveliste
Name[de]=Aufgabenliste
Name[hu]=Feladatok
[newTask()]
Icon = TodoList
Name = New task in todo list
[addTask(PimTask)]
Icon = TodoList
Name = Add task to todo list
[removeTask(PimTask)]
Icon = TodoList
Name = Remove task from todo list
[updateTask(PimTask)]
Icon = TodoList
Name = Update task in todo list
