[Translation]
File=QtopiaServices
Context=Todo List
[Service]
Actions = "activateLink(QDSActionRequest);newTask();addTask(QTask);removeTask(QTask);requestLinks(QDSActionRequest);updateTask(QTask)"
Icon = todolist/TodoList
Name[]=Tasks
[newTask()]
Icon = todolist/TodoList
Name[]="New Task"
[addTask(QTask)]
Icon = todolist/TodoList
Name[]="Add Task"
[removeTask(QTask)]
Icon = todolist/TodoList
Name[]="Remove Task"
[updateTask(QTask)]
Icon = todolist/TodoList
Name[]="Update Task"
