[Desktop Entry]
CanFastload=0
Type=Application
Exec=appearance
Icon=Appearance
Name=Appearance
Name[ja]=外観
Name[no]=Utseende
Name[de]=Erscheinungsbild
Name[hu]=Megjelenés
CanFastload=0
