[Translation]
File=QtopiaSettings
Context=Buttons
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=buttoneditor
Icon=buttoneditor/ButtonEditor
Name[]=But\xadtons
CanFastload=0
