[Translation]
File=QtopiaSettings
Context=Launcher
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=launchersettings
Icon=launcher
Name[]=Launch­er
CanFastload=0
