[Translation]
File=QtopiaSettings
Context=Plugin Manager
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=pluginmanager
Icon=pluginmanager/PluginManager
Name[]=Plug\xadin Man\xad\x61ger
CanFastload=0
