[Desktop Entry]
Type=Application
Exec=rotation
Icon=Rotation
Name=Rotation
Name[ja]=回転
Name[no]=Rotasjon
Name[de]=Rotation
Name[hu]=Forgatás
CanFastload=0
