[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Contacts
Comment=An Address Book Program
Exec=qcop-x11-launch addressbook %f
Icon=addressbook/AddressBook
MimeType=text/x-vcard
Categories=Office;PIM;Phone
