[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Camera
Exec=qcop service send Launcher execute\(QString\) camera
Icon=camera/Camera
Categories=Office;PIM;Phone
