[Desktop Entry]
Type=Application
Name=Active Calls
Comment=See active calls
Exec=qcop service send Launcher execute\(QString\) callscreen
Icon=dialer/Callscreen
X-Application-Screenshot=dialer/Callscreen-screenshot
Categories=Office;PIM;Phone;
