[Desktop Entry]
Type=Application
Name=Contacts
Comment=An Address Book Program
Exec=qcop-x11-launch addressbook %f
Icon=addressbook/AddressBook
X-Application-Screenshot=addressbook/AddressBook-screenshot
MimeType=text/x-vcard
Categories=Office;PIM;Phone;
