[Desktop Entry]
Type=Application
Name=Dialer
Comment=Make phone calls
Exec=qcop service send Launcher execute\(QString\) dialer
Icon=dialer/Dialer
X-Application-Screenshot=dialer/Dialer-screenshot
Categories=Office;PIM;Phone;
