[Desktop Entry]
Type=Application
Name=Active Calls
Comment=See active calls
Exec=qcop service send Launcher execute\(QString\) callscreen
Icon=phone/callscreen
X-Application-Screenshot=phone/callscreen-screenshot
Categories=Office;PIM;Phone;
