[Desktop Entry]
Type=Application
Name=Clock
Comment=A Clock Program
Exec=qcop service send Launcher execute\(QString\) clock
Icon=clock/Clock
Categories=Office;PIM;Phone;
