[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=System Info
Comment=System Information
Exec=qcop service send Launcher execute\(QString\) sysinfo
Icon=sysinfo/SystemInfo
Categories=Office;PIM;Phone
