[Desktop Entry]
Name[]=Scientific
Comment[]=Supports scientific operations
X-QPE-Library=libscientific.so
[Translation]
File=QtopiaPlugins
Context=Calculator
