[Translation]
File=QtopiaApplications
Context=Files
[Desktop Entry]
Comment[]=A File Manager Program
Exec=filebrowser
Icon=FileBrowser
Name[]=Files
Type=Application
