[Desktop Entry]
Comment[]=A media player application
Exec=mediaplayer
Type=Application
Name[]=Media Player
Icon=mediaplayer/VideoPlayer
MimeType="audio/x-wav;audio/mpeg;audio/mpegurl;audio/x-scpls;audio/amr;audio/midi;video/3gpp"
MimeTypeIcons="mediaplayer/AudioPlayer;mediaplayer/AudioPlayer;mediaplayer/AudioPlayer;mediaplayer/AudioPlayer;mediaplayer/AudioPlayer;mediaplayer/AudioPlayer;mediaplayer/VideoPlayer"
[Translation]
File=QtopiaApplications
Context=MediaPlayer
[DRM]
MimeTypePermissions="Play;Play;Play;Play;Play;Play;Play"
