[Translation]
File=QtopiaApplications
Context=Pictures
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=A Photo Editor
Exec=photoedit
MimeType=image/*
Icon=photoedit/ImageViewer
Type=Application
Name[]=Pic\xadtures
[DRM]
MimeTypePermissions=Display