[Desktop Entry]
Comment=An Image Viewer
Exec=showimg
MimeType=image/*
Icon=ImageViewer
Type=Application
Name=Image Viewer
Name[ja]=???
Name[de]=Bildbetrachter
Name[hu]=Nézõke
