[Translation]
File=QtopiaApplications
Context=Calendar
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=A Calendar and Scheduling Program
Exec=datebook
Icon=DateBook
Type=Application
Name[]=Cal­en­dar
MimeType=text/x-vcalendar
