[Translation]
File=QtopiaApplications
Context=Terminal
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=A Terminal Window
Exec=embeddedkonsole
Icon=Terminal
Type=Application
Name[]=Ter­mi­nal
