[Translation]
File=QtopiaApplications
Context=World Time
[Desktop Entry]
Comment[]=A World Clock and Time Zone Editor
Exec=worldtime
Icon=CityTime
Type=Application
Name[]=World Time
