[Translation]
File=QtopiaServices
Context=Play Media
[Service]
Actions = openURL(QString,QString)
Icon = multimedia
Name[]=Play Media
[openURL(QString,QString)]
Icon = multimedia
Name[]=Open Media File
