[Desktop Entry]
Comment[]=Simple ipkg Installer
Exec=qipkg
Icon=qipkg/qipkg-simple
Type=Application
Name[]=Package Installer
MimeType="application/ipkg"
MimeTypeIcons=qipkg/qipkg-simple
