[Desktop Entry]
Name[]=Screen Light
Comment[]=Adjusts the screen brightness.
X-QPE-Library=libbrightnessapplet.so
[Translation]
File=QtopiaPlugins
Context=Applets
