[Desktop Entry]
Name=Screen Light
Comment=Adjusts the screen brightness.
Name[ja]=画面の明るさ
Comment[ja]=画面の明るさを調節します。
X-QPE-Library=libbrightnessapplet.so
