[Desktop Entry]
Name=CF Card monitor
Comment=Monitors the CF card slot.
Name[ja]=CFカードモニター
Comment[ja]=CFカードスロットを監視します。
X-QPE-Library=libcardmonapplet.so
