[Desktop Entry]
Name[]=CF Card monitor
Comment[]=Monitors the CF card slot.
X-QPE-Library=libcardmonapplet.so
[Translation]
File=QtopiaPlugins
Context=Applets
